/.pytorch-training-venv/bin/*
/.pytorch-training-venv/bin/*
/.pytorch-training-venv/include/*
/.pytorch-training-venv/lib/*
/.pytorch-training-venv/share/*
/.pytorch-training-venv/*
/cifar-10-python.tar.gz
/cifar-10-batches-py/*
__pycache__/